* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background-color: hsl(212, 45%, 89%);
    font-size: 10px;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}
img {
    border-radius: 0.625rem;
    max-height: 18rem;
	max-width: 18rem;
    width: 100%;
}
.card
{  
    border-radius: 16px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 17rem;
    background-color: hsl(0, 0%, 100%);
}
.card h1 {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-top: 1rem;
}
.card p {
  margin: 0 12px 16px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}